.social {
    background-color: $color_3;
    text-align: center;
    padding: 1rem;

    &__link {
        margin: 0 .5rem;
        padding: .5rem;
    }

    &__icon {
        $dimensions: 30px;
        width: $dimensions;
        height: $dimensions;
    }

}


.copyright {
    padding: 1.5rem 0;
    line-height: 1.7;

    a {
        color: $color_4;
        padding: .8rem 0;
    }

}

.small-copy {
    .copyright {
        a {
            color: $white!important;
        }
    }
}
